{% extends 'base.html' %}
{% block title %}eMotion - Nueva Obra{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Nueva Obra</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post" action="{% url 'nuevaObra' %}" enctype="multipart/form-data" class="rounded p-4 shadow">
        {% csrf_token %}
        {{ form.usuario }}
        <div class="row">
          <div class="col-md-12 mb-3 pb-2 mt-3 text-center h2">
              <label class="form-label text-center" for="form3Example1c">Titulo</label>
              <input type="text" name="titulo" value="" maxlength="100" required id="id_titulo" class="form-control" placeholder="Titulo">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3 pb-2 mt-2 text-center h2">
              <label class="form-label" for="form3Example1c">Sinopsis</label>
              <textarea name="sinopsis" cols="40" rows="15" required id="id_sinopsis" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3 pb-2 mt-2">
              {{ form.restriccion|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3 pb-2 mt-2 text-center h2">
            <label class="form-label" for="form3Example1c">Foto Portada</label>
            <input type="file" name="foto_obra" accept="image/*" id="id_foto_obra" class="form-control">
          </div>
        </div>
        <div class="pt-2 text-center">
          <button type="submit" class="button-75">Crear Obra</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}