{% extends 'base.html' %}
{% block title %}eMotion - Buscar Obras{% endblock title %}
{% load static %}
{% block content %}
<div class="container mt-4 text-center">
  <h1>Resultados de la Búsqueda</h1>
</div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% if obras %}
        {% for obra in obras %}
          <div class="col mb-5">
            <div class="card h-100 shadow">
              {% if obra.foto_obra %}
                <img class="portada" src="{{ obra.foto_obra.url }}" alt="{{ obra.titulo }}">
              {% else %}
                <img class="portada" src="{% static "img/portada_default.png" %}" alt="">
              {% endif %}
              <div class="card-body p-4">
                <div class="text-center">
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <h5 class="fw-bolder">{{ obra.titulo }}</h5>
                  Autor: {{ obra.usuario.username }}
                </div>
                <div class="text-center mt-3">
                  {% if obra.capitulos.all %}
                    {% with first_chapter=obra.capitulos.first %}
                      <a class="btn btn-outline-dark mt-auto" href="{% url 'detalle_obra' obra_id=obra.id capitulo_id=first_chapter.id %}">Leer {{ obra.titulo }}</a>
                    {% endwith %}
                  {% else %}
                    <a class="btn btn-outline-dark mt-auto" href="{% url 'detalle_obra' obra_id=obra.id %}">Leer {{ obra.titulo }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="container mt-4 text-center">
          <h4>No se encontraron resultados para tu búsqueda.</h4>
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}